*, ::after,::before{
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

:root{
    --maxWidth: 1200px;
}

header{
    background-color: #1f2937;
    
}



.navBar{
    max-width: var(--maxWidth);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;  
    padding: 30px 30px; 
}

.headerNav{
    margin-top: 5px;
    color:#F9FAF8    
}

.headerNav a{
    padding-right: 20px;
}
.headerLogo{
    font-size:24px;
    color:#F9FAF8
}

.heroBanner{
    max-width: var(--maxWidth);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;  
    padding: 50px 30px 90px 30px;  

}

.heroText h1{
    color: #F9FAF8;
    font-weight:800;    
    font-size: 48px;
}

.heroText p{
    color: #e5e7eb;
    font-size: 18px;
}

.heroText button{
    background-color:#3882f6;
    margin-top: 20px;
    padding: 10px 40px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    color:#e5e7eb;
}

.heroImage{
    border-radius: 10px;
    max-width: 40%;
    margin-left: 30px;
}

.info{
    max-width: var(--maxWidth);
    text-align: center;
    margin: 50px auto;
}

.imageHolder{
    width: 130px;
    height: 130px;
    border: lightskyblue solid;
    border-radius: 10px;
    margin-top: 50px;
    
}

.products{
    display: flex;
    justify-content: space-evenly;

}
figcaption{
    width: 130px;
    font-size: 12px;
    padding-left:;

}

.sectionQuote{
    background-color: #e5e7eb;
}

.quote{
    max-width: 600px;
    padding: 100px 0;
    margin: 0 auto;
}
.cite{
    text-align: right;
    padding-right: 40px;
    font-weight: 600;
}

blockquote{
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 400;
}

.background{
    background-color: #3882f6;
    width: 600px;
    height: 80px;
    margin:50px auto;
    padding: 0 70px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#F9FAF8
}
#subtext{
    font-size: .6rem;
    color: #e5e7eb;
}
footer button{
    background: none;
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}