*, ::after,::before{
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

header{
    background-color: #1f2937;
}

.headerLogo{
    font-size:24px;
    color:#F9FAF8
}
